@model IEnumerable<Dog_Seller.Models.Dog>

@{
    ViewBag.Title = "Index";
}
    <link rel="stylesheet" type="text/css" href="~/Content/dog-sheet.css">


<section class="list-dog">
    <h1 id="header-dog">Dog list</h1>
    <p class="new">
        @Html.ActionLink("Add", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            <img src="~/Images/@item.Image" alt="There is no Image for this dog" class="dog img-responsive" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
        }

    </table>
</section>