@model IEnumerable<Dog_Seller.Models.Cat>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/dog-sheet.css">


<section class="list-dog">
    <h1 id="header-dog">Cat list</h1>
    <table class="table table-bordered table-hover" id="dogs">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        <img src="~/Images/@item.Image" alt="There is no Image for this dog" class="dog img-responsive" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>

            }
        </tbody>
    </table>
</section>



@section scripts
    {
    <script>
        $(document).ready(function () {

            $("#dogs").DataTable();
        });
    </script>
}
